body{
    background-color:black;
}

header{
    height: 50px;
    width: 100%;
    /*position : fixed; */
}

.container{
    width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}

.header-left{
    float:left;
    font-size : 30px;
    font-family:fantasy;
    padding : 11pt 10pt;
    text-align: left;   
}

.logo{
    color:black;
    border-radius: 4px;
    padding : 5pt 15pt ;
    display:inline-block;
    background-color: gold;
}

.header-right{
    float:right;
    font-size: 15px;
    color:black;
    margin-top: 11pt;
}

.searchbar{
    display:inline-block;
    padding: 8pt 150pt 8pt 30pt;
    margin-top: 3pt;
    margin-right: 1pt;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.content-wrapper{
    text-align: center;
    
}


h1{
    color:white;
    margin-top: 50pt;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

#movieList{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5pt auto;
}



.imgMovie{
    width: 80%;
    display: block;
    margin: 5pt auto;
}

.movie{
    margin-right: auto;
    margin-left: auto;
    flex:25%;
    margin-bottom: 50pt;
    color:white;
}
/*
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: blue;
}
*/

.modal {
    display: none; /*Hidden by default  */
    position:fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color:black,0.4;
    
    z-index: 1;
  }




.ModalContent{
    display: flex;
    flex:auto;
    background-color: rgba(10, 10, 10, 1);
    margin: 5% 20% 5% 15%; 
    padding: 5% 50% 5% 0%;
    border: 1px solid grey;
    width: 25%; 
    
}

.ModalContent img{
    padding-right: 50%;
    padding-left: 35%;
    
}

.movie-desc{
    margin-left: auto;
    height: auto;
    width:100vw;
    
}

.movie-desc h2{
    width: fit-content;
    padding:0 50pt;
    font-size: 3vw;
    margin: 15pt auto;
}

.movie-desc p{
    width: fit-content;
    text-indent: 10%;
    font-size: 1vw;
    text-align: left;

}

.movie-desc > .rating{
    text-indent: 0%;
}

/* The Close Button */
.close {
    height: 10%;
    color: red;
    float: right;
    font-size: 75px;
    font-weight: bold;

  }
  
  .close:hover,
  .close:focus {
    color: white;
    
    cursor: pointer;
  }


@media screen and (max-width: 768px){
    .movie{
        flex:50%;
    }

    .imgMovie{
        width: 50%;
        height: auto;
        
    }
    .header-left{
        text-align: center;
        float:none;
    }

    .header-right{
        text-align: center;
        float:none;
        
    }

    .searchbar{
        display:inline-block;
        padding: 8pt 250pt;
        font-size: 20px;
        margin-top: 3pt;
        margin-right: 1pt;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
    }

    .content-wrapper{
        margin-top: 100pt;
    }


    .ModalContent{
       width:40%;
       height: 80%;
       margin: 2% 5%; 
       flex-direction: column;
      
       background-color: rgba(10, 10, 10, 1);
       padding: 5% 50% 5% 0%;

    }

    .movie-desc h2{
        font-size: 50px;
    }

    .movie-desc,  .movie-desc p{
        display: block;
        text-align: center;
        margin: 5px 165px; 
        font-size: 20px;
        

    }

    .ModalContent img{
        width:75%;
        display: block;
        padding:0 50px;
        margin: 0 300px; 
        
        
    }
   
    
}

@media screen and (max-width: 426px){
    
    .header-left{
        font-size: 65px;
    }
    

    .searchbar{
        font-size: 50px;
        padding: 10pt 150pt;
        margin-bottom: 110px;
    }

    .content-wrapper{
        margin-top: 200pt;
      
    }

    .content-wrapper h1{
        font-size: 100px ;
    }
        

    .movie{
        flex:100%;
        font-size: 50px ;

    }

    .imgMovie{
        width: 80%;
        height: auto;
        
    }

    .ModalContent{
        width:40%;
        height: auto;
        margin: 10% 5%; 
        flex-direction: column;
        background-color: rgba(10, 10, 10, 1);
        padding: 5% 50% 5% 0%;
 
     }
 
     .movie-desc h2{
         font-size: 100px;
         margin: 0 60vw;
     }
 
     .movie-desc,  .movie-desc p{
         
         margin: 5px -504px 5px 50px; 
         font-size: 12vw;
         
 
     }
 
     .ModalContent img{
         width:75%;
         display: block;
         padding:0 50px;
         margin: 0 300px; 
         
         
     }
}