body{
    background-color:black;
}

header{
    height: 50px;
    width: 100%;
    /*position : fixed; */
}

.container{
    width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}

.header-left{
    float:left;
    font-size : 30px;
    font-family:fantasy;
    padding : 11pt 10pt;
    text-align: left;   
}

.logo{
    color:black;
    border-radius: 4px;
    padding : 5pt 15pt ;
    display:inline-block;
    background-color: gold;
}

.header-right{
    float:right;
    font-size: 15px;
    color:black;
    margin-top: 11pt;
}

.searchbar{
    display:inline-block;
    padding: 8pt 150pt 8pt 30pt;
    margin-top: 3pt;
    margin-right: 1pt;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.content-wrapper{
    text-align: center;
}


h1{
    color:white;
    margin-top: 50pt;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

.row{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.imgMovie{
    width: 75%;
}


.movie{
    flex:25%;
    margin-bottom: 100pt;
}

.movie a{
    color: red;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }