body{
    background-color:black;
}

header{
    height: 50px;
    width: 100%;
    /*position : fixed; */
}

.container{
    width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}

.header-left{
    float:left;
    font-size : 30px;
    font-family:fantasy;
    padding : 11pt 10pt;
    text-align: left;   
}

.logo{
    color:black;
    border-radius: 4px;
    padding : 5pt 15pt ;
    display:inline-block;
    background-color: gold;
}

.header-right{
    float:right;
    font-size: 15px;
    color:black;
    margin-top: 11pt;
}

.searchbar{
    display:inline-block;
    padding: 8pt 150pt 8pt 30pt;
    margin-top: 3pt;
    margin-right: 1pt;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.content-wrapper{
    text-align: center;
}


h1{
    color:white;
    margin-top: 50pt;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

#movieList{
    display: flex;
    background-color: blue;
    flex-flow: row wrap;
    float:left;
    justify-content: center;
    
}

#movie h2{
    color: red;
    margin: 50pt 60pt;
}

.imgMovie{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.movie{
    flex:25%;
    margin-bottom: 50pt;
    color:red;
    background-color: white;
}

@media screen and (max-width: 768px){
    .movie{
        flex:auto;
    }

    .imgMovie{
        width: auto;
        height: auto;
    }
    .header-left{
        text-align: center;
        float:none;
    }

    .header-right{
        text-align: center;
        float:none;
        
    }

    .searchbar{
        display:inline-block;
        padding: 8pt 250pt;
        font-size: 20px;
        margin-top: 3pt;
        margin-right: 1pt;
        border-radius: 10px;
        text-align: center;
        overflow: hidden;
    }

    .content-wrapper{
        margin-top: 100pt;
    }
}